$primary-color: #333333;
$contrast-color: #fff;
$muted-color: #888;
$dark-shadow-color: #222;
$muted-shadow-color: #555;
$light-muted-color: #bbb;
$light-color: #eee;

$extra-light-accent-color: #75c0eb;
$light-accent-color: #288dc7;
$medium-accent-color: #166fa3;
$dark-accent-color: #11608d;
$darker-accent-color: #0b5077;
$darkest-accent-color: #063753;

$primary-font: "Quicksand", sans-serif;
$header-font: "Lexend Deca", sans-serif;
$title-font: "Lexend Deca", sans-serif;
$logo-font: "Lexend Deca", sans-serif;

$shortest-transition: 0.2s;
$shorter-transition: 0.4s;
$short-transition: 0.6s;
$shortish-transition: 0.8s;
$moderate-transition: 1s;
$long-transition: 1.2s;
$longer-transition: 1.6s;
$longest-transition: 1.8s;
